@mixin bar {
	display: block;
	height: 0.8rem;
	width: 7rem;
	background-color: $color-white;
}

@mixin bar-pseudo-element {
	@include bar;
	content: "";
	position: absolute;
}

@mixin about-description {
	font-size: 1.7rem;
	font-weight: $fraunces-font-weight-bold;
	color: $color-dark-greyish-blue;
}

@mixin about-bgImage($bg-image, $color) {
	padding: 60% 23% 0 23%;
	text-align: center;
	font-weight: $fraunces-font-weight-black;
	color: $color;
	background-image: url($bg-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&__heading {
		color: currentColor;
		margin-bottom: 2rem;
	}

	&__description {
		font-weight: $barlow-font-weight-semi-bold;
	}
}

@mixin about-bgImage-mobile($bg-image) {
	background-image: url($bg-image);

	padding: 100% 3.5% 15% 3.5%;

	&__heading {
		font-size: 6rem;
		margin-bottom: 4rem;
	}

	&__description {
		font-size: 3.5rem;
		font-weight: $barlow-font-weight-semi-bold;
	}
}

@mixin transform-standout-mobile {
	padding: 15% 6%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	&__heading {
		margin-bottom: 5rem;
		font-size: 6.5rem;
		text-align: center;
	}

	&__description {
		margin-bottom: 6rem;
		font-size: 3.8rem;
		text-align: center;
	}
}
