$color-soft-red: #fe7867;
$color-yellow: #fad400;
$color-dark-cyan-primary: #25564b; // graphic design grid text.
$color-dark-blue-primary: #19536b; // photography grid text
$color-dark-cyan-secondary: #458c7e; // footer section

// NEUTRAL
$color-dark-blue-secondary: #23303e;
$color-dark-blue-tertiary: #5a636c;
$color-dark-greyish-blue: #818498;
$color-greyish-blue: #a7abae;
$color-white: #ffffff;

// TYPOGRAPHY
$root-font-size: 1.8rem; // font-size for the entire body.
// FONT
$root-font-family: "Barlow", sans-serif;
$secondary-font-family: "Fraunces", serif;
$barlow-font-weight-semi-bold: 600;
$fraunces-font-weight-bold: 700;
$fraunces-font-weight-black: 900;
