.hamburger {
	@include hamburger;
	position: relative;

	&::before {
		@include hamburger-pseudo-element;
		bottom: 2.3rem;
	}

	&::after {
		@include hamburger-pseudo-element;
		top: 2.3rem;
	}
}

@media screen and (min-width: 434px) {
	.hamburger {
		display: none;
	}
}
