.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;

  .logo-container {

  }

  &__logo {

  }

  &__items {
    display: inline-flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 5rem;
    }
  }

  &__link {
    color: $color-white;
    font-weight: $barlow-font-weight-semi-bold;
  }
}

@media screen and (max-width: 434px) {
  .navigation {
    &__items {
      display: none;
    }
  }
}
