html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: $root-font-family;
	font-size: $root-font-size;
	line-height: 1.7;
	background-color: $color-white;
	margin: 0 auto;
}

@media screen and (max-width: 960px) {
	html {
		font-size: .6rem;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: .4rem;
	}
}

@media screen and (max-width: 534px) {
	html {
		font-size: .3rem;
	}
}
