*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	list-style: none;
	box-sizing: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

// a[class^="learn-more"] {
// 	text-decoration: underline;
// 	text-decoration-thickness: .7rem;
// }
