.heading-primary {
	font-size: 6rem;
	text-transform: uppercase;
	color: $color-white;
	font-family: $secondary-font-family;
	letter-spacing: 1rem;
	font-weight: $fraunces-font-weight-black;
}

.heading-secondary {
	font-family: $secondary-font-family;
	font-size: 4rem;
	font-weight: $fraunces-font-weight-black;
	color: $color-dark-blue-secondary;

	&--small {
		font-size: 2.5rem;
	}
}

.heading-tertiary {
	font-family: $secondary-font-family;
	font-size: 1.4rem;
	font-weight: $fraunces-font-weight-black;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	color: $color-greyish-blue;
}

.active {
	background-color: $color-white;
	text-transform: uppercase;
	padding: 1.5rem 3rem;
	border-radius: 5rem;
	margin-top: -1.5rem;

	& a {
		font-family: $secondary-font-family;
		color: $color-dark-blue-secondary;
		font-weight: $fraunces-font-weight-black;
	}
}
