.about {
	max-width: 144rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 60.8rem;

	.transform {
		padding: 20%;
		&__heading {
			line-height: 1.3;
		}

		&__description {
			@include about-description;
		}

		&__image {
			height: 100%;
			width: 100%;
		}
	}

	.image-container {
		height: 100%;
	}

	.standout {
		padding: 18%;
		&__heading {
			line-height: 1.3;
		}

		&__description {
			@include about-description;
		}

		&__image {
			height: 100%;
			width: 100%;
		}
	}

	.graphic-design {
		@include about-bgImage(
			"../images/desktop/image-graphic-design.jpg",
			$color-dark-cyan-primary
		);
	}

	.photography {
		@include about-bgImage(
			"../images/desktop/image-photography.jpg",
			$color-dark-blue-primary
		);
	}
}
