.header {
  height: 90vh;
  min-height: 90vh;
  width: 100%;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
